<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Produkt. – Logowanie{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>


    <div id="flash-container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

</body>
</html>
